@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.navbar{
    margin-bottom: 0px  !important;
}
.row{
     margin-right: 0px !important;
     margin-left: 0px !important;
}
.main img{
    width: 100%;
}

.main{
    background: #e6d8c9;
    font-size: 20px;
}
h1{
    font-size: 56px !important;
    background: #949046;
    text-align: center;
    font-family: 'Indie Flower', cursive !important;
}

.products-header, .product{
    background: #d0c7c7;
}
.medicins{
    background: #e6d8c9;
}
.products-header h1{
    background: #b1b0a8;
}
.product img, .medicins img{
    width: 100%;
}

.yerba-products img, .tea-products img{
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: 2s;
}

.yerba-products img:hover, .tea-products img:hover{
    opacity: 0.7;
}
.medicin-products img{
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 2s;
}
.yerba, .tea, .medicin{
    display: inline-block;
    border: solid black;
    margin-right: 5%;
    margin-top: 2%;

}
.yerba:hover, .tea:hover, .medicin:hover{
    box-shadow: 9px 8px 8px 3px #1c2024;
}
.yerba p, .tea p, .medicin p{
    margin: 5px;
    font-weight: bold;
}

.price{
    display: inline-block;
}

.add-button{
    float: right;
    margin: 5px !important;
    font-weight: bold !important;
    background-color: black !important;
    border-color: #EFF1FB !important;
}
.add-button:hover{
    box-shadow: black -1px 1px 11px 6px;
}
.product-description{
    display: none;
}
.close{
    font-size: 51px !important;
    display: none;
}
.footer{
    background: #222222;
    color: #9d9d9d;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #7b7575;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.glyphicon-earphone, .glyphicon-envelope, .glyphicon-home{
    font-size: 50px;
    float: left;
    width: 15%;
}
.contact-footer{
    margin-top: 100px;
}
.contact-el{
    margin-bottom: 50px;
    height: 50px;
}
.contact-text{
    float: left;
    width: 75%;
}
.footer-email p, .footer-phone p{
    padding-top: 12px;
}
.info{
    padding-left: 10px;
    cursor: pointer;
}
.close-info{
    width: 30%;
    text-align: right;
    padding-right: 5px;
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.info-text{
    width: 70%;
    float: left;
    padding-left: 5px;
}
.alert{
    line-height: 40px;
    height: 40px;
    padding: 0 !important;
    display: none;
}
.menubar-content{
    height: 50px;
}
.products-basket{
    background: #b7b862;
    width: 200px;
    position: fixed;
    z-index: 3;
    right: 0px;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}
.products-basket h3{
    margin-left: 20px;
}
.products-basket li{
    border-top: 2px solid black;
    padding: 5px
}
.delete-button{
    float: right;
    height: 20px;
    border: 0;
    background: #333333;
    color: aliceblue;
    font-size: 20px;
    line-height: 0px;
}